@import '../utils/variables';



.advantage {
    padding-top: 94px;
}

.advantage__list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.advantage__container {
    background-color: getColor('light-grey-color');
    width: 270px;
    height: 120px;
    display: flex;
    /* padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px; */
    margin-bottom: 30px;
    fill: currentColor;
    align-items: center;
    justify-content: center;
}

.advantage__title {
    text-transform: uppercase;
}