@import '../utils/variables';
@import './modal';

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.form__title {
    @include form__title;
    display: block;
    text-align: center;
    color: getColor('title-color');
    margin-bottom: 12px;
}

.form__position {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.form__label {
    color: getColor('text-color');
    position: relative;
    // display: inline-block;
    display: flex;
    flex-direction: column;
    @include label;

    &:focus-within .form__icon {
        fill: getColor('accent-color');
    }

    &:focus-within .form__input,
    &:focus-within .form__textarea {
        border: 1px solid getColor('accent-color');
    }
}

.form__input {
    display: inline-block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 42px;
    outline: none;
    margin-top: 4px;
    transition: border 250ms $cubic-bezier;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition: fill 250ms $cubic-bezier;
}

.form__textarea {
    resize: none;
    padding-left: 16px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    @include textarea;
    color: getColor('title-color');
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    margin-top: 4px;
}

.form__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.form__label-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    @include roboto-medium;
    color: getColor('text-color');
}

.form__input-checkbox {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__link {
    text-decoration: none;
    color: getColor('accent-color');
    border-bottom: 1px solid getColor('accent-color');
}

.form__icon-checkbox {
    display: inline-block;
    background-image: url("../images/no-check.svg");
    width: 16px;
    height: 15px;
    transition: background-image 250ms $cubic-bezier;

    .form__input-checkbox:checked~& {
        background-image: url("../images/check.svg");
    }
}

.form__btn {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    height: 50px;
    color: getColor('white-color');
    background-color: getColor('accent-color');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    @include button;
    transition: background-color 250ms $cubic-bezier;

    &:hover,
    &:focus {
        background-color: getColor('hero-button-hover');
    }
}