@import '../utils/variables';
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
.hero-section {
    background-image: linear-gradient(180deg,
            rgba(47, 48, 58, 0.4) 0%,
            rgba(47, 48, 58, 0) 100%),
        url("../images/bgImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    max-height: 600px;
    background-color: getColor('footer-bgc-color');
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;
}
.hero__container {
    width: 696px;
}
.hero__title {
    // display: block;
    color: getColor('white-color');
    @include roboto-black;
    // width: 696px;
    // font-size: 44px;
    // font-weight: 900;
    // line-height: 1.36;
    // letter-spacing: 0.06em;
   text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero__button {
    cursor: pointer;
    color: getColor('white-color');
    background-color: getColor('accent-color');
    border: 0px;
    @include button;
    // letter-spacing: 0.06em;
    display: inline-block;
    padding-left: 32px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    border-radius: 4px;
    transition: background-color 250ms $cubic-bezier;

&:hover,
&:focus {
    background-color: getColor('hero-button-hover');
}}