@import '../utils/variables';

.working {
    padding-top: 94px;
    padding-bottom: 94px;
}

.caption {
    @include caption;
    color: getColor('title-color');
    margin-bottom: 50px;
}

.working__list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.working__position {
    position: relative;
    display: block;

}

.working__title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: block;
    width: 100%;
    left: 0;
    bottom: 0;
    // text-align: center;
    text-transform: uppercase;
    background-color: getColor('color-working-bgc');
    height: 70px;
    // padding-top: 27px;
    // padding-bottom: 27px;
    margin-bottom: 0;
    color: getColor('white-color');
}

.title {
    @include title;
}